.header {
  margin-bottom: 100px;
  text-align: center;
}

.title {
  font-size: 30px;
}

.charts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.chart {
  flex: 1;
  flex-basis: 100%;
}

.brands,
.models,
.versions,
.registrationsByYear,
.registrationsByQuarter,
.registrationsByMonth,
.vehicleTypes,
.sources,
.voivodeships {
  composes: chart;
}

.brands,
.models,
.vehicleTypes,
.sources {
  @media (--tablet-landscape) {
    width: 49%;
    flex-basis: 49%;
  }
}
