.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  &.noPadding {
    padding-left: 0;
    padding-right: 0;
  }

  @media (--phone-landscape) {
    max-width: var(--phone-landscape);
  }

  @media (--tablet-portrait) {
    max-width: var(--tablet-portrait);
  }

  @media (--tablet-landscape) {
    max-width: var(--tablet-landscape);
  }

  @media (--desktop-small) {
    max-width: var(--desktop-small);
  }
}
