.button {
  display: inline-block;
  padding: 3px 8px;
  border-bottom: 2px solid var(--very-light);
  background: var(--very-light);
  text-decoration: none;

  &:hover {
    background: var(--extra-light);
  }
}

.active {
  border-color: var(--red);
}
