@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: var(--white);
  color: var(--dark);
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-wrap {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
p {
  margin: 0;
  margin-bottom: 15px;
}

dl,
p {
  &:last-child {
    margin-bottom: 0;
  }
}

dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:visited {
    color: inherit;
  }
}
