.tooltip {
  display: block;
  position: fixed;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  color: var(--white);
  pointer-events: none;
  transition: all ease-in-out 0.3s;
  transform: translate(-50%, -50%);
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.label {

}

.color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid var(--white);
}
